@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-family: "Space Grotesk", sans-serif;
  /* colors */
  --cl-primary: oklch(0.2690 0 0);
  --cl-secondary: oklch(0.9237 0.1959 130.2276);
  --cl-accent: oklch(0.9642 0 0);
  /* desktop */
  --font-size-h1: 3.75rem; /* 60px */
  --font-size-h2: 2.5rem;  /* 40px */
  --font-size-h3: 1.875rem; /* 30px */
  --font-size-p: 1.125rem; /* 18px */
  /* mobile */
  --font-size-mob-h1: 2.6875rem; /* 43px */
  --font-size-mob-h2: 2.25rem;   /* 36px */
  --font-size-mob-h3: 1.625rem;  /* 26px */
  --font-size-mob-p: 1rem;       /* 16px */
}

@theme {
  --font-display: var(--font-family);
  /* colors */
  --color-primary: var(--cl-primary);
  --color-secondary: var(--cl-secondary);
  --color-accent: var(--cl-accent);
  /* headers desktop */
  --text-h1: var(--font-size-h1);
  --text-h2: var(--font-size-h2);
  --text-h3: var(--font-size-h3);
  --text-p: var(--font-size-p);
  /* headers mobile */
  --text-mobile-h1: var(--font-size-mob-h1);
  --text-mobile-h2: var(--font-size-mob-h2);
  --text-mobile-h3: var(--font-size-mob-h3);
  --text-mobile-p: var(--font-size-mob-p);
}
