@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-family: "Space Grotesk", sans-serif;
  /* colors */
  --cl-primary: oklch(0.2690 0 0);
  --cl-secondary: oklch(0.9237 0.1959 130.2276);
  --cl-accent: oklch(0.9642 0 0);
  --cl-white: oklch(1 0 0);
  /* desktop */
  --font-size-h1: 3.75rem; /* 60px */
  --font-size-h2: 2.5rem;  /* 40px */
  --font-size-h3: 1.875rem; /* 30px */
  --font-size-p: 1.125rem; /* 18px */
  /* mobile */
  --font-size-mob-h1: 2.6875rem; /* 43px */
  --font-size-mob-h2: 2.25rem;   /* 36px */
  --font-size-mob-h3: 1.625rem;  /* 26px */
  --font-size-mob-p: 1rem;       /* 16px */
}

@theme {
  --font-display: var(--font-family);
  /* colors */
  --color-primary: var(--cl-primary);
  --color-secondary: var(--cl-secondary);
  --color-accent: var(--cl-accent);
  --color-white: var(--cl-white);
  /* headers desktop */
  --text-h1: var(--font-size-h1);
  --text-h2: var(--font-size-h2);
  --text-h3: var(--font-size-h3);
  --text-p: var(--font-size-p);
  /* headers mobile */
  --text-mobile-h1: var(--font-size-mob-h1);
  --text-mobile-h2: var(--font-size-mob-h2);
  --text-mobile-h3: var(--font-size-mob-h3);
  --text-mobile-p: var(--font-size-mob-p);
}

@utility btn-outlined {
  cursor: pointer;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease;
  
    background: linear-gradient(to right, var(--cl-secondary) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  
    &:hover {
      color: var(--cl-primary);
      background-position: left bottom;
    }
}
@utility btn-default {
  cursor: pointer;
  transition: all 0.3s ease;
  
  background: linear-gradient(to right, var(--cl-secondary) 50%, var(--cl-primary) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  
  &:hover {
    color: var(--cl-primary);
    background-position: left bottom;
  }
}
@utility btn-secondary {
  cursor: pointer;
  transition: all 0.3s ease;

  background: linear-gradient(to right, var(--cl-primary) 50%, var(--cl-secondary) 50%);
  background-size: 200.2% 100%;
  background-position: right bottom;
  
  &:hover {
    color: var(--cl-white);
    background-position: left bottom;
  }
}