---
import "@/styles/global.css";
import HeroIlustration from "@/components/animated-assets/HeroIlustration.astro";
---

<div class="flex flex-col justify-center items-center">
    <h1 class="text-h1 font-bold">Animated Assets</h1>
    <HeroIlustration />
</div>    
 
