---
import DevLayout from "@/layouts/Dev.astro";
---

<DevLayout title="Components">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-h1 font-bold">Components</h1>
    
  </div>
</DevLayout>
