---
import { cn } from "@/lib/utils";

type Props = {
  variant?: "light" | "dark";
  class?: string;
};

const { variant = "light", class: className } = Astro.props;

const variants = {
  light: "bg-accent text-dark",
  dark: "bg-primary text-white",
};
---

<section class={cn(variants[variant],  className, "p-16 rounded-[45px]")}>
  <slot />
</section>
